<style>
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}
p {
    text-align: center;
}

div{
  display: flex;
  justify-content: center;
}
</style>

<div class="page">
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}
  
  <ul>
  {% for post in posts %}
    <li style="list-style-type:none"><a style="{% if page.url == post.url %}color: red;{% endif %}" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>

</div>

<hr>

{{ content }}